version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
      args:
        WEB_PORT: ${WEB_PORT}
    container_name: yatrackerhelper_web
    restart: unless-stopped
    env_file:
      - .env
    environment:
      WEB_HOST: 0.0.0.0
      WEB_PORT: ${WEB_PORT}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      VIRTUAL_PORT: ${WEB_PORT}

    networks:
      - proxy

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  certs:
  html:
  acme:

networks:
  proxy:
    external: true